.full-article {
  background: #fff;

  .section-header {
    margin-bottom: 20px;
  }

  article {
    margin: 100px auto;

    p {
      font-weight: 300;
    }
  }

  video {
    display: block;
    width: 100%;
    margin: 20px auto;
  }
}