.f-page {
  background: #323232;

  .row {
    padding: 25px 0;
  }
  .social {
    margin: 0;

    a {
      display: inline-block;
      float: none;
    }
  }
}

.f-text-block {
  color: #969696;
  line-height: 1.33;
}

.company, .alex-truhniy {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.i-wrapper {
  text-align: center;
}