$main-font: 'Roboto', sans-serif;

$nav-url-color: #fff;
$nav-url-hover: #dfad00;

$btn-color: #dfad00;
$btn-shadow: #ab8500;
$btn-text-color: #fff;
$section-header-color: #646464;
$link-more-color: #4c93c3;

$item-text-color: #323232;
$price-color: #4c93c3;

$video-text-color: #fff;